# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized


### **Objectives**
*   Describe the components of Data Science ToolKit
*   list the open source and comercial data science tools
*   List examples of cloud-based Data Science tools
*   Understand what an API is and it's functions 
*   Be familiar with the most commonly used data science tools and libraries
*   Download and install Anaconda, Jupyter notebook and R. 
*   Open a GitHub account, creat a repository and manage file on GitHub GitHub repositories.

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Scala
5. Apatche
6. Julia
7. Java Script
8. SQL
9. C++

## Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. matPlot
3. Tensorflow
4. Keras
5. Scikitlearn
6. Dplyr 
7. Stringr
9. ggplot2
10. ggplot
11. caret

|Data Science Tools|
-
|Jupyter notebook|
|Jupyter Lab |
|Rstudio |
|Apache zepplin|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

In [14]:
time_minutes = 200
time_hour = time_minutes/60

print ('time in hour is equal to', time_hour)

time in hour is equal to 3.3333333333333335

## Author:
Aires Augusto MiguÃªns